

html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
  
    /* This centers our sketch horizontally. */
    justify-content: center;
  
    /* This centers our sketch vertically. */
    align-items: center;
    background-color: black
  }

.header-buttons a {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 0.1em solid;
    border-color: white;
    margin: 9px 0 9px 6px;
    border-radius: 4.12em;
    box-sizing: border-box;
    transition: all 0.2s;
    box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.8);
}

.icon-instrument {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: cover;
}

.icon-music {
    display: inline-block;
    background-size: contain;
    width: 35px;
    height: 35px;
}

#back-button {
    background-image: url('assets/icon/back.svg');
}

#foward-button {
    background-image: url('assets/icon/foward.svg');
}

#loop-button {
    background-image: url('assets/icon/loop.svg');
}

#flower-button {
    background-image: url('assets/icon/flower.svg');
}

.flower {
    filter: invert(65%) sepia(48%) saturate(1028%) hue-rotate(303deg) brightness(91%) contrast(87%);
}

#flower-button:hover, #flower-button:focus {
    filter: invert(65%) sepia(48%) saturate(1028%) hue-rotate(303deg) brightness(91%) contrast(87%);
}

#cloud-button {
    background-image: url('assets/icon/cloud.svg');
}

.cloud {
    filter: invert(62%) sepia(11%) saturate(695%) hue-rotate(172deg) brightness(87%) contrast(84%);
}

#cloud-button:hover, #cloud-button:focus {
    filter: invert(62%) sepia(11%) saturate(695%) hue-rotate(172deg) brightness(87%) contrast(84%);
}


#star-button {
    background-image: url('assets/icon/star.svg');
}

.star {
    filter: invert(77%) sepia(82%) saturate(348%) hue-rotate(4deg) brightness(92%) contrast(92%);
}

#star-button:hover, #star-button:focus {
    filter: invert(77%) sepia(82%) saturate(348%) hue-rotate(4deg) brightness(92%) contrast(92%);
}

#moon-button {
    background-image: url('assets/icon/moon.svg');
}

.moon {
    filter: invert(83%) sepia(8%) saturate(4905%) hue-rotate(181deg) brightness(96%) contrast(95%);
}

#moon-button:hover, #moon-button:focus {
    filter: invert(83%) sepia(8%) saturate(4905%) hue-rotate(181deg) brightness(96%) contrast(95%);
}

.butterfly {
    filter: invert(79%) sepia(11%) saturate(6214%) hue-rotate(102deg) brightness(102%) contrast(70%);
}

#butterfly-button {
    background-image: url('assets/icon/butterfly.svg');
}

#butterfly-button:hover, #butterfly-button:focus {
    filter: invert(79%) sepia(11%) saturate(6214%) hue-rotate(102deg) brightness(102%) contrast(70%);
}


button {
    outline: none;
    border: 0px solid;
    background: transparent;
}

.music-button {
    fill: #fff;
    opacity: 0.85;
}

.music-button:hover {
    cursor: pointer;
    opacity: 1;
}